body  {
  background-color: rgb(124,187,251);
}

h1, section h2, section h3, section h4{
  text-align: center;
} 


header ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

header li {
  display: inline;
  margin-right: 10px;
}

header a {
  text-decoration: none;
  color: rgb(0,0,0);
}